.pulsing-linkedin:hover {
  animation-name: pulse-light-blue;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse-light-blue {
  0% {
    box-shadow: 0px 0px 20px rgba(10,102,194);
    transform: translateY(0px);
  }
    25% {
    box-shadow: 0px 0px 20px rgb(0, 174, 255);
    transform: translateY(1px);
  }
  50% {
    box-shadow: 0px 0px 6px rgba(152, 202, 252, 0.938);
    transform: translateY(2px);
  }

    75% {
    box-shadow: 0px 0px 6px rgba(152, 202, 252, 0.938);
    transform: translateY(1px);
  }

  100% {
    box-shadow: 0px 0px 20px rgba(10,102,194);
    transform: translateY(0px);
  }
}

.shadow-linkedin:hover img{
    filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.3));
}